@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /*CORES*/
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22D4FD;
    --cor-quaternaria: #2475c0;
    --cor-hover: #272727;
    /*FONTES*/
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
    --tamanho-primario: 1.8rem;
    --tamanho-secundario: 1rem;
}


html, body {
    overflow-y: scroll;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    position: relative;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

main {
	flex-grow: 1;
}


header {
	position: sticky;
	top: 0;
}

nav, footer {
	min-height: 20px;
	text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

.cabecalho {
    margin-top: 3%;
    background-color: var(--cor-primaria);
}


.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-secundario);
    font-weight: 600;
    color: var(--cor-tercearia);
    padding: 0.5em 5em;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quaternaria);
    background-color: var(--cor-hover);
    border-radius: 8px;
}

.container {
    display: flex;
    align-items: center ;
    gap: 0px;
    justify-content: center
}

.container__lista {
    display: flex;
    gap: 1em;
}

.container__link {
    position: relative; 
    display: block;
    width: 100%;
    padding: 5px 0;
}

.container__link:hover {
    background-color: #999999;
}

.container__link span {
    display: none;
}

.link__imagem {
    width: 50rem;
}

.container__link:hover span {
    display: block;
    position: absolute; 
    top: 0px; 
    left: 100%; 
    border: 1px #CCCCCC solid;
    margin-left: 3em;
}

.container__conteudo {
    width: 27%;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.conteudo__about {
    padding: 3em;
    gap: 0.8em;
}

.container__conteudo__titulo {
    font-size: var(--tamanho-primario);
    font-family: var(--fonte-primaria);
    line-height: 156%;
    letter-spacing: 0.05em;

    margin: 0px;
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.container__conteudo__texto {
    font-size: var(--tamanho-secundario);
    font-family: var(--fonte-secundaria);
    text-indent: 1.2em;
    line-height: 150%;
    letter-spacing: 0.05em;
}

.container__conteudo__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.container__conteudo__links__titulo {
    font-size: var(--tamanho-secundario);
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.container__conteudo__links__link {
    display: flex;
    justify-content: center;
    gap: 0px 16px;
    align-items: center;
    border: 2px solid var(--cor-tercearia);
    border-radius: 8px;
    width: 50%;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 12px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.container__conteudo__links__link:hover {
    background-color: var(--cor-hover);
}

.container__image {
    width: 22%;
    margin: 0 3em;
    top: 0;   
}


.rodape {
    background-color: var(--cor-tercearia);
    padding: 20px;
    text-align: center;
}

.rodape__text {
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 14px;
}

#citacao {
    text-align: right;
    font-style: italic;
}

#container__projetos {
    justify-content: flex-start;
    padding: 0% 30%;
}

/* RESPONSIVIDADE */

@media (max-width: 860px) {

    nav {
        justify-content: center;
    }

    .cabecalho {
        margin-bottom: 5%;
    }
    .cabecalho__menu {
        justify-content: space-evenly;
        margin-top: 1rem;
    }
    .container {
        flex-direction: column-reverse;
        padding: 5% 7%;
        gap: 2em;
    }

    .container__conteudo {
        width: auto;
        gap: 0.5em;
    }

    .container__conteudo__titulo {
        font-size: 22px;
        margin-bottom: 1em;
    }

    .container__conteudo__texto {
        font-size: 0.8rem;
        word-spacing: 0.1px;
        letter-spacing: 0.5px;
    }

    .container__conteudo__links__link {
        font-size: 14px;
        padding: 5px;
    }

    .container__conteudo__links__titulo {
        font-size: 18px;
        margin-top: 2em;
    }

    .container__image {
        width: 100%;
        max-width: 200px;
        min-width: 100px;
    }

    .cabecalho__menu {
        gap: 1em;
    }

    .cabecalho__menu__link {
        font-size: 16px;
        padding: 0em;
    }

    .container__link {
        padding: 1em;
    }

    .rodape {
        position: relative;
        bottom: 0px;
        height: 35px;
        text-align: center;
    }

    .rodape__text {
        font-size: 12px;
        justify-content: center;
        text-align: center;
    }

    #container__projetos {
        justify-content: center;
        padding: 1em;
    }

    .conteudo__about {
        padding: 0px 20px ;
    }

    .link__imagem {
        width: 0px;
    }

}