@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /*CORES*/
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22D4FD;
    --cor-quaternaria: #2475c0;
    --cor-hover: #272727;
    /*FONTES*/
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Monteserrat', sans-serif;
    --tamanho-primario: 2.25rem;
    --tamanho-secundario: 1.5rem;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: var(--tamanho-secundario);
    font-weight: 600;
    color: var(--cor-tercearia);
    padding: 0.5em;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quaternaria);
    background-color: var(--cor-hover);
    border-radius: 8px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 0px;
}

.container__lista {
    display: flex;
    gap: 1em;
}

.container__link {
    position: relative; 
    display: block;
    width: 100%;
    padding: 5px 0;
}

.container__link:hover {
    background-color: #999999;
}

.container__link span {
    display: none;
}

.link__imagem {
    width: 350px;
}

.container__link:hover span {
    display: block;
    position: absolute; 
    top: 0px; 
    left: 100%; 
    border: 1px #CCCCCC solid;
}

.container__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1em;
}

.container__conteudo__titulo {
    font-size: var(--tamanho-primario);
    font-family: var(--fonte-primaria);

    margin: 0px;
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.container__conteudo__texto {
    font-size: var(--tamanho-secundario);
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.container__conteudo__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 32px;
}

.container__conteudo__links__titulo {
    font-size: var(--tamanho-secundario);
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.container__conteudo__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid var(--cor-tercearia);
    border-radius: 8px;
    width: 60%;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: var(--tamanho-secundario);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.container__conteudo__links__link:hover {
    background-color: var(--cor-hover);
}

.container__image {
    width: 100%;
}

.rodape {
    background-color: var(--cor-tercearia);
    padding: 24px;
}

.rodape__text {
    text-align: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: var(--tamanho-secundario);
}

/* RESPONSIVIDADE */

@media (max-width: 1200px) {

    .cabecalho {
        padding: 15% 0px 0px 0px;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container__conteudo {
        width: auto;
    }

    .container__image {
        max-width: 450px;
        min-width: 200px;
    }

}